<!--<%&#45;&#45;-->
  <!--Created by IntelliJ IDEA.-->
  <!--User: Ivan-->
  <!--Date: 01.03.2018-->
  <!--Time: 10:31-->
  <!--To change this template use File | Settings | File Templates.-->
<!--&#45;&#45;%>-->
<!--<%@ page contentType="text/html;charset=UTF-8" language="java" %>-->
<html>
<head>
    <!--<%&#45;&#45;<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>&#45;&#45;%>-->
    <link rel="stylesheet" type="text/css" href="static/bootstrap3.3.7/css/bootstrap.min.css"/>
    <title>springsecurity-demo-home</title>
    <!--<%&#45;&#45;To NOT IGNORE ${} tag (https://dzone.com/articles/spring-mvc-and-java-based-configuration-1)&#45;&#45;%>-->
    <!--<%@ page isELIgnored="false" %>-->
</head>
<body>
<!--<%&#45;&#45;div - `generic language/style container`&#45;&#45;%>-->
<div class="container-fluid">
    <h2>SpringSecurity-demo home</h2>
    <br><hr><br>
    <a href="_404">_404</a>
</div>
</body>
</html>
